* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
#You {
  font-size: large;
  margin: 10px;
}
#Computer {
  font-size: large;
  margin: 10px;
}
button {
  padding: 3px 8px;
  margin: 2px;
}
